<div class="container col-md-4 col-md-offset-4 mar-top ;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align:initial ; font-size: 22.5px">Reset Password</h1>
  <div class="panel panel-primary">
    <div class="panel-body">
      <form (ngSubmit)="forgotPassForm.form.valid " #forgotPassForm="ngForm">
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <div class="input-group" style="margin-bottom: 5px">
            <span class="input-group-addon ">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input class="form-control" type="email" placeholder="Username" name="username" [(ngModel)]="model.username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              #username="ngModel" required>
          </div>
        </div>
        <h6 style="text-align: center;  font-size: 16px">Verification link will be sent to your e-mail</h6>
        <div class="col-md-12 text-center">
          <button style="margin-right: 20px" type="submit" id="submit_button" class="btn btn-success" [disabled]="!forgotPassForm.form.valid">Send</button>
          <button type="button" class="btn btn-danger" (click)="onCancel(forgotPassForm)">Cancel</button>
          <br/>

        </div>
      </form>
    </div>
  </div>
</div>