.Log-form {
   
    width: 100%;
    }
    .Log-full-width {
    width: 100%;
  } 
   .glyphicon-search{
     float: right;
   }
  .btn-success{
    margin-right: 20px;
    width: 65px;
    height: 40px;
    text-align: center;
    }
    .btn-danger{
    width: 66px;
    height: 40px;
    text-align:right;
    }
    
    


